.FoodPostDisplay-component{width: 100%;
  max-width: 900px;
  margin: 12px auto;
  cursor: pointer;}


.FoodPostDisplay-image {
  height: 567px;
  width: 498px;
  position: relative;
  border-radius: 8px;
  overflow: clip;
  flex-shrink: 0;
}

.FoodPostDisplay-body {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 100%;
}

.FoodPostDisplay-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 381px;
  font-size: 24px;
  font-style: normal;
  flex-shrink: 0;
}

.FoodPostDisplay-name {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  position: relative;
  color: black;
  width: 100%;
  flex-shrink: 0;
}

.FoodPostDisplay-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 0;
  color: #828282;
  flex-shrink: 0;
}
