.NavBar-container {
  display: flex;
  flex-direction: row;
  padding: var(--s) var(--m);
  background-color: var(--primary);
}

.NavBar-title {
  color: var(--white);
  font-size: 20px;
}

.NavBar-title-red {
  color: #ffa4a4;
  font-size: 20px;
}

.NavBar-linkContainer {
  align-items: center;
  margin-left: var(--l);
}

.NavBar-link,
.NavBar-link:visited {
  color: var(--white);
  opacity: 0.6;
  text-decoration: none;
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link.NavBar-login {
  opacity: 1;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}

.NavBar-log-button {
  margin-left: 1050px;
  display: flex;
  flex-direction: row-reverse;
  float: right;
}
