.TextBox-component{margin:20px}


.TextBox-row {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.TextBox-textarea {
  width: 100%;
  resize: none;          
  overflow: hidden;
  line-height: 1.3;
  padding: 8px;
  box-sizing: border-box;

}

.TextBox-button {
  height: 30px;
  padding: 0 14px;
}

.TextBox-label{
    font-size: 30px;
    font-weight: bold;
}
