.TextBox-component{margin:20px}


.TextBox-row {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.TextBox-textarea {
  width: 100%;
  max-width: 700px;
  resize: vertical;
}

.TextBox-button {
  height: 30px;
  padding: 0 14px;
}

.TextBox-label{
    font-size: 30px;
    font-weight: bold;
}
